* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
}

h5 {
  font-size: 1.125rem;
  height: 108px;
}

.info {
  width: auto;
  height: 120px;
}

p {
  margin: 0 !important;
  opacity: 50%;
}

hr {
  margin: 20px 0 0 0 !important;
  width: 100% !important;
  border-top: 1px solid black !important;
}

i {
  width: 15px;
  opacity: 50%;
}

.logo {
  max-width: 100px;
}

.card-body {
  padding: 10px;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* #212529
 #707070
 #F8F9FA 
#fff
#28a745 */
